.title-moto{
  font-size: 4em;
}

.container-moto{
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 10;
  width: 100vw;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}

.container-description-moto{
  color: white;
  width: 50vw;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-moto{
  width: 100%;
  margin-left: -100%;
  text-align: center;
  border: 0px solid white;
  flex-grow: 0;
  flex-shrink: 0;
}

.text-moto{
  position: relative;
  right: -1000px;
  width: 80%;
}

@media only screen and (max-width: 750px) {
  .container-description-moto{
    width: 100vw;
  }

  .img-moto{
    max-width: 100%;
    text-align: left;
    border: 0px;
    margin-left: -20px;
  }

  .text-moto{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
  }

  .title-moto{
    font-size: 2em;
    text-align: left
  }

}
