.mentor{
  position: fixed;
  right: 5%;
  bottom: 2%;
  padding: 5px;
  z-index: 10000;
  width: 7%;
  border-radius: 50%;
  -webkit-filter: drop-shadow( 1px 1px 1px #000 );
          filter: drop-shadow( 1px 1px 1px #000 );
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mentor:hover{
  -webkit-filter: drop-shadow( 3px 3px 3px #000 );
          filter: drop-shadow( 3px 3px 3px #000 );
}

.listener{
  background-color: transparent;


}

.non-listener{
  background-color: transparent;
}

@media only screen and (max-width: 750px) {
  .mentor{
    width: 15%;
  }

  .specialist{
    width: 15%;
  }

}
